@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

@font-face {
    font-family: "Lato-Regular";
    src: url(../../src/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../../src/fonts/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Lato-Regular", Verdana, Tahoma, sans-serif;
    background: #E5E5E5;
}