@font-face {
    font-family: "YeonSung";
    src: url(./assets/fonts/YeonSung-Regular.ttf);
}

h1 {
    color: chocolate;
    text-align: center;
    font-size: 5vw;
    font-style: oblique;
    font-family: "YeonSung", Verdana;
}