@font-face {
    font-family: "YeonSung";
    src: url(./assets/fonts/YeonSung-Regular.ttf);
}
header {
    background: no-repeat url(./assets/images/bg_header.jpg);
    background-size: cover;
    display: flex;
    min-height: 855px;
}

.header h1 {
    color: chocolate;
    text-align: center;
    font-size: 5vw;
    font-style: oblique;
    font-family: "YeonSung", Verdana;
    text-shadow: 10px 6px rgba(0, 0, 0, 0.671);
}

.home h2 {
    color: chocolate;
    text-align: center;
    font-size: 2vw;
    font-style: oblique;
    font-family: "YeonSung", Verdana;
    text-shadow: 5px 3px rgba(0, 0, 0, 0.363);
}
.headerbox {
    flex-direction: column;
    margin: 300px 100px;
    padding-left: 150px;
}

.headerbox div {
    background: none;
}
.home p {
    color: azure;
    text-align: center;
}
.logo {
    height: 250px;
}
body {
    background: no-repeat url(./assets/images/bg1.jpg);
    background-size: cover;
}    
.home div {
    list-style: none;
    display: flex;
    max-width: 50%;
}

.bodybox {
    flex-direction: column;
    flex: 0 1 auto;
    margin: 100px 10px;
    padding-bottom: 50px;
    align-items: center;
    background-color: black;
    border-radius: 25px 25px;
}

.bodybox img {
    border-radius: 100px;
}