// importing core styling file
@import "./fontawesome.scss";

// our project needs Solid + Brands
@import "./solid.scss";
@import "./brands.scss";

header {
    nav {
        display: flex;
        justify-content: space-between;
    }
    ul {
        display: flex;
        list-style: none;
        a {
            text-decoration: none;
            padding: 36px 55px;
            color: #9F9F9F;
        }
        a:hover {
            color: #000000;
        }
    }
    div {
        display: flex;
        align-items: center;
        i {
            padding: 0 15px;
        }
    }
    img {
        width: 100%;
    }
}