// importing core styling file
@import "./fontawesome.scss";

// our project needs Solid + Brands
@import "./solid.scss";
@import "./brands.scss";

header {
    nav {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    ul {
        display: flex;
        list-style: none;
        li {
            display: flex;
        }
        a {
            text-decoration: none;
            padding: 2.25rem 3.4375rem;
            color: #9F9F9F;
        }
        a:hover {
            color: #000000;
        }
    }
    div {
        display: flex;
        align-items: center;
        i {
            padding: 0 0.9375rem;
        }
        i:last-of-type {
            margin-right: 1.3125rem;
        }
    }
    img {
        width: 100%;
    }
}