/* CSS Général */
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: "Roboto-Regular";
    font-size: 16px;
}

/* Header */
header {
    background: #1B2430;
}
header div {
    background: #1B2430;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#bg {
    width: 100%;
}

header nav img {
    width: 55px;
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 2.5rem 1rem;
}

header nav a:hover {
    transform: scale(1.04);
    color: rgb(217, 217, 217);
}

header nav a:hover::after {
    content: "";
    position: absolute;
    width: 80%;
    background: #ffffff;
    height: 1px;
    bottom: 30px;
    left: 10px;
    transform-origin: left;
    animation: animLink 1.4s infinite ease-in-out;
}

@keyframes animLink {
    50% {
        transform: scaleX(0.2);
    }

    100% {
        transform: scaleX(1);
    }
}

/* Main */
main div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.left,
.right {
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 4rem;
}

.left img,
.right img {
    width: 300px;
    height: 300px;
}

.left h2,
.right h2 {
    margin-left: 0;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 41px;
    letter-spacing: 3px;
}

.left p,
.right p {
    font-weight: 400;
    font-size: 1.25rem;
    text-align: justify;
    line-height: 30px;
}

.left {
    flex-direction: row;
}

.right {
    flex-direction: row-reverse;
}

.left>div {
    margin-left: 7.938rem;
}

.right>div {
    margin-right: 7.938rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1.375rem;
    margin-bottom: 1.125rem;
    font-weight: 500;
    font-size: 1.125rem;
}

.buttons,
h2 {
    margin-left: 0;
}

.typeT,
.discover,
.typeG {
    padding: 0.75rem 1rem;
    border-radius: 10px;
}

.typeT {
    background-color: #D6D5A8;
    color: #1B2430;
    margin-right: 1.875rem;
}

.typeG {
    background: linear-gradient(#816797, #51557E);
    color: #ffffff;
    margin-right: 1.875rem;
}

.discover {
    background-color: #1B2430;
    color: #ffffff;
}

h3:first-of-type {
    position: relative;
    margin-top: 6.063rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 1.875rem;
    text-align: justify;
    line-height: 35px;
}

h3:before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(-25rem - 1.563rem);
    height: 1px;
    width: 25rem;
    background-color: #1B2430;
}

h3:after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(25rem - 1.563rem);
    height: 1px;
    width: 25rem;
    background-color: #1B2430;
}

#lastParagraphe {
    margin-bottom: 13.125rem;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #1B2430;
}

#fullFooter {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

footer ul {
    list-style: none;
}

#fleft {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#fleft div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fleft div h4 {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 40px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 2.875rem;
    margin-bottom: 1.688rem;
    width: 320px;
}

#fleft li a {
    display: block;
    color: #9F9F9F;
    text-decoration: none;
    font-family: "Montserrat-Regular";
    font-weight: 500;
    font-size: 1.063rem;
    line-height: 23px;
    text-align: center;
    padding: 0.563rem 0;
}

.vLine {
    content: "";
    width: 1px;
    height: 210px;
    background-color: #C4C4C4;
    margin-top: 3.438rem;
}

.bFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hLine {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d2d2d2;
    margin-top: 2.938rem;
}

.bFooter p {
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-weight: 500;
    font-size: 1.063rem;
    line-height: 17px;
    line-height: 23px;
    text-align: center;
    margin: 0.688rem auto;
}

#scroll_to_top {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 30px;
    background: #D6D5A8;
    border-radius: 50%;
    opacity: 0.3;
}

#scroll_to_top:hover {
    opacity: 1;
    animation: animStT 0.5s infinite alternate;
}
@keyframes animStT {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}
#scroll_to_top img {
    width: 50px;
    height: 50px;
    transform: translateX(5px) translatey(3px);
}

/* Responsive */

@media screen and (max-width: 1220px) {

    .left,
    .right {
        flex-direction: column;
        width: 90%;
    }

    .left>div,
    .right>div {
        margin: 0.625rem auto;
    }

    .left p,
    .right p {
        font-size: 1rem;
    }

    h3:before {
        left: calc(-12.5rem - 1.563rem);
        width:12.5rem;
    }

    h3:after {
        left: calc(25rem - 1.563rem);
        width: 12.5rem;
    }
}
footer span {
    display: none;
}

@media screen and (max-width: 820px) {
    header nav {
        display: none;
    }

    h3:before, h3:after {
        display: none;
    }
}


@media screen and (max-width: 540px) {

    .left,
    .right {
        width: 90%;
    }

    .left img,
    .right img {
        width: 150px;
        height: 150px;
    }
}