@font-face {
    font-family: "Oxygen-Regular";
    src: url(../../src/fonts/Oxygen-Regular.ttf);
}
@font-face {
    font-family: "TheGirlNextDoor-Regular";
    src: url(../../src/fonts/TheGirlNextDoor-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}