@font-face {
    font-family: "Oxygen-Regular";
    src: url(../../src/fonts/Oxygen-Regular.ttf);
}
@font-face {
    font-family: "TheGirlNextDoor-Regular";
    src: url(../../src/fonts/TheGirlNextDoor-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../../src/img/lune.jpg) no-repeat fixed;
    font-family: "Oxygen-Regular";
    font-size: 16px;
}
h1 {
    font-family: "TheGirlNextDoor-Regular";
    font-size: 8rem;
}
ul {
    display: flex;
    a{
        text-decoration: none;
        color: white;
    }
}